#map {
    height: 40%;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
}

#Textboxid {
    height: 150px;
    width: 300px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container>div {
    text-align: left;
    line-height: 45px;
    font-size: 15px;
    float: left;
    width: 48%;
}

@media screen and (max-width: 600px) {
    .flex-container>div {
        width: 100%;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Biography {
    text-align: left;
    background: yellow;
    width: 100%;
    border: 5px black;
    padding: 5px;
}